---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Brian's Blog</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Projects</a>
        <a href="/posts/">Blog</a>
        <!-- Used for the top-right most button leading to a hyperlink (below) -->
        <!-- <a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a> -->
        <ThemeIcon />
    </div>
</div>

